<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{Layout1}">
<head>
    <meta charset="UTF-8">
    <title>Not Authorized</title>
</head>
<body>
<div layout:fragment="content"> <!-- CHANGED to "content" -->
    <div class="alert alert-danger text-center">
        <h3>Not Authorized</h3>
        <p>You don't have permission to access this page.</p>
        <a th:href="@{/user/index}" class="btn btn-primary">Go to Products</a>
    </div>
</div>
</body>
</html>